<!--
    Create by Mitch Ellis
    This is our intial ember template.
-->
<body>
    <nav>
        <div class="nav-wrapper teal darken-4">
            <a href="#" class="brand-logo center">Grouped Notes</a>
        </div>
    </nav>
    
    <div class="container">

        <div class="row">
            
            <div class="col s12">
        
                <!--
                Outlet for the Products Template
                -->
               {{outlet}}
                
            </div>
        
        </div>
        
    </div>
</body>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}