<!--
    Create by Mitch Ellis
    This is our intial ember template.
-->
<body>
    <div class="container">
        
        <!--
            THE PRODUCT LIST
        -->
        <div class="row">
            <div class="col s6">
                {{outlet "productlist"}}
            </div>
        
        <!--
            THE NOTE LIST
        -->
            <div class="col s6">
                {{outlet "notelist"}}
            </div>
        </div>
        
        
    </div>
</body>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}