<!--
    Create by Mitch Ellis
    This is our intial ember template.
-->
<body>
    <div class="container">
        
       {{outlet}}
        
        
    </div>
</body>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}