<p>From the notes template</p>

{{#each}}
<div class="card red">

    <div class="card-content white-text">
        <span class="card-title">{{title}}</span>
        <p>{{description}}</p>
    </div>

</div>
{{/each}}